<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OracleConnection" Language="1033" Version="$(env.ORACLEVERS)" Manufacturer="rhubarb-geek-nz" UpgradeCode="$(env.ORACLEUPGRADECODE)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(env.ORACLEPLATFORM)" Description="OracleConnection $(env.ORACLEVERS)" Comments="PowerShell Oracle Cmdlet" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{$(env.ORACLEUPGRADECODE)}">
      <UpgradeVersion Maximum="$(env.ORACLEVERS)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(env.ORACLEPROGRAMFILES)">
        <Directory Id="INSTALLDIR" Name="WindowsPowerShell">
          <Directory Id="INSTALLDIR1" Name="Modules">
            <Directory Id="INSTALLDIR2" Name="OracleConnection" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="COracleConnectionDll" Guid="*" Directory="INSTALLDIR2" Win64="$(env.ORACLEISWIN64)">
        <File Id="FOracleConnectionDll" KeyPath="yes" Source="$(env.SOURCEDIR)\OracleConnection.dll" />
      </Component>
      <Component Id="COracleConnectionPsd1" Guid="*" Directory="INSTALLDIR2" Win64="$(env.ORACLEISWIN64)">
        <File Id="FOracleConnectionPsd1" KeyPath="yes" Source="$(env.SOURCEDIR)\OracleConnection.psd1" />
      </Component>
      <Component Id="COracleManagedDataAccessDll" Guid="*" Directory="INSTALLDIR2" Win64="$(env.ORACLEISWIN64)">
        <File Id="FOracleManagedDataAccessDll" KeyPath="yes" Source="$(env.SOURCEDIR)\Oracle.ManagedDataAccess.dll" />
      </Component>
      <Component Id="CLicenseOracle" Guid="*" Directory="INSTALLDIR2" Win64="$(env.ORACLEISWIN64)">
        <File Id="FLicenseOracle" KeyPath="yes" Source="$(env.SOURCEDIR)\LICENSE.Oracle" />
      </Component>
      <Component Id="CLicenseLGPL3" Guid="*" Directory="INSTALLDIR2" Win64="$(env.ORACLEISWIN64)">
        <File Id="FLicenseLGPL3" KeyPath="yes" Source="$(env.SOURCEDIR)\LICENSE.LGPL3" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>